In [85]:
#  Q1. Create one variable containing following type of data:

In [2]:
a = "name"

In [3]:
type(a)

str

In [4]:
b = [ 1, 2, 3, 4, "rohul" , "rohan" , 63.21]

In [5]:
type(b)

list

In [6]:
c =45.85

In [7]:
type(c)

float

In [8]:
d = ("lucy" , 82, 65, 72 , "pw skills" , True , 56.3)

In [9]:
type(d)

tuple

In [10]:
#  Q2. Given are some following variables containing data:

In [11]:
var1 = ''

In [12]:
type(var1)

str

In [13]:
var2 = '[ DS , ML , Python]'

In [14]:
type(var2)

str

In [15]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [16]:
type(var3)

list

In [17]:
var4 = 1.

In [18]:
type(var4)

float

In [19]:
#  Q3. Explain the use of the following operators using an example:

In [20]:
'''quotient'''
6/2

3.0

In [21]:
'''reminder'''
63%3

0

In [22]:
9//3

3

In [23]:
'''power'''
6**2

36

In [24]:
#  Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [25]:
e = [ 1, 2, 3, "list", "tuple", "dict", True, 17.4 , 65+32, 76]

In [26]:
for f in e :
        print ( f   ,   type(f))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
list <class 'str'>
tuple <class 'str'>
dict <class 'str'>
True <class 'bool'>
17.4 <class 'float'>
97 <class 'int'>
76 <class 'int'>

In [27]:
#   Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [94]:
a = 100
b = 4
count = a/b
while a% b == 0:
    a//=b
if count > 0:
    print("a is purely divisible by b",(count),"in times .")

a is purely divisible by b 25.0 in times .

In [29]:
#   Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [30]:
g = [3, 6, 9, 12, 14, 45, 30, 66, 18, 21, 2, 6, 88, 30, 27, 14, 8, 4, 36, 20, 1, 25, 22 , 78, 56]

In [31]:
for h in g :
    if h%3==0:
        print(h ,"Yes it is divisible by 3")
    else:
        print(h ,"No it is divisible by 3")

3 Yes it is divisible by 3
6 Yes it is divisible by 3
9 Yes it is divisible by 3
12 Yes it is divisible by 3
14 No it is divisible by 3
45 Yes it is divisible by 3
30 Yes it is divisible by 3
66 Yes it is divisible by 3
18 Yes it is divisible by 3
21 Yes it is divisible by 3
2 No it is divisible by 3
6 Yes it is divisible by 3
88 No it is divisible by 3
30 Yes it is divisible by 3
27 Yes it is divisible by 3
14 No it is divisible by 3
8 No it is divisible by 3
4 No it is divisible by 3
36 Yes it is divisible by 3
20 No it is divisible by 3
1 No it is divisible by 3
25 No it is divisible by 3
22 No it is divisible by 3
78 Yes it is divisible by 3
56 No it is divisible by 3

In [76]:
r==r/s

False

In [95]:
#  Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [97]:
'''imutable'''
l="kernel"
l[1]=c

TypeError: 'str' object does not support item assignment

In [99]:
e

[1, 2, 3, 'list', 'tuple', 'dict', True, 17.4, 97, 76]

In [100]:
'''mutable'''
e[3]="I"

In [101]:
e

[1, 2, 3, 'I', 'tuple', 'dict', True, 17.4, 97, 76]

In [105]:
print("finsh","[thank you]")

finsh [thank you]