# Q1. What is a database? Differentiate between SQL and NoSQL databases.

### **Q1. What is a Database?**  
A **database** is an organized collection of data used for efficient storage, retrieval, and management.  

### **Difference Between SQL and NoSQL Databases**  

| Feature  | SQL Database | NoSQL Database |
|----------|-------------|---------------|
| **Structure** | Tables (Relational) | Flexible (Key-Value, Document, Graph) |
| **Schema** | Fixed schema | Dynamic schema |
| **Scalability** | Vertical (Add resources) | Horizontal (Add servers) |
| **Query Language** | SQL (Structured Query Language) | Varies (JSON, NoSQL query) |
| **Best For** | Structured data (Banking, ERP) | Unstructured data (Big Data, IoT) |
| **Examples** | MySQL, PostgreSQL | MongoDB, Firebase |

### **Conclusion:**  
- **SQL** is best for structured, transactional data.  
- **NoSQL** is better for flexible, high-volume, real-time applications.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### **Q2. What is DDL?**  
**DDL (Data Definition Language)** is a subset of SQL used to define and manage database structures, such as tables, schemas, and indexes.  

### **Key DDL Commands with Examples**  

1. **CREATE** ‚Äì Used to create a new table or database.  
   ```sql
   CREATE TABLE Students (
       ID INT PRIMARY KEY,
       Name VARCHAR(50),
       Age INT
   );
   ```
2. **DROP** ‚Äì Deletes a table or database permanently.  
   ```sql
   DROP TABLE Students;
   ```
3. **ALTER** ‚Äì Modifies an existing table (adds, deletes, or modifies columns).  
   ```sql
   ALTER TABLE Students ADD COLUMN Address VARCHAR(100);
   ```
4. **TRUNCATE** ‚Äì Deletes all records from a table but keeps its structure.  
   ```sql
   TRUNCATE TABLE Students;
   ```

### **Conclusion:**  
- **CREATE** ‚Üí Defines a new table.  
- **DROP** ‚Üí Completely removes a table.  
- **ALTER** ‚Üí Modifies an existing table.  
- **TRUNCATE** ‚Üí Deletes data but keeps the table structure.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### **Q3. What is DML?**  
**DML (Data Manipulation Language)** is a subset of SQL used to **modify and manage data** within database tables.  

### **Key DML Commands with Examples**  

1. **INSERT** ‚Äì Adds new records into a table.  
   ```sql
   INSERT INTO Students (ID, Name, Age) 
   VALUES (1, 'John Doe', 20);
   ```
2. **UPDATE** ‚Äì Modifies existing records in a table.  
   ```sql
   UPDATE Students 
   SET Age = 21 
   WHERE ID = 1;
   ```
3. **DELETE** ‚Äì Removes records from a table.  
   ```sql
   DELETE FROM Students 
   WHERE ID = 1;
   ```

### **Conclusion:**  
- **INSERT** ‚Üí Adds new data.  
- **UPDATE** ‚Üí Modifies existing data.  
- **DELETE** ‚Üí Removes data from a table.

### **Q4. What is DQL?**  
**DQL (Data Query Language)** is a subset of SQL used to **retrieve data** from a database. It primarily consists of the **SELECT** statement.  

### **SELECT Statement**  
The **SELECT** command is used to fetch data from a table.  

#### **Example Usage:**  

1. **Retrieve all columns from a table:**  
   ```sql
   SELECT * FROM Students;
   ```
2. **Retrieve specific columns:**  
   ```sql
   SELECT Name, Age FROM Students;
   ```
3. **Filter data using WHERE clause:**  
   ```sql
   SELECT * FROM Students WHERE Age > 18;
   ```
4. **Sort data using ORDER BY:**  
   ```sql
   SELECT * FROM Students ORDER BY Name ASC;
   ```

### **Conclusion:**  
The **SELECT** statement is the core of DQL, allowing users to query and retrieve data from a database efficiently.

### **Q5. Primary Key vs. Foreign Key**  

| Feature         | **Primary Key** | **Foreign Key** |
|---------------|---------------|---------------|
| **Definition** | Uniquely identifies each record in a table. | Establishes a relationship between two tables. |
| **Uniqueness** | Always unique for each row. | Can have duplicate values. |
| **NULL Values** | Cannot be NULL. | Can have NULL values. |
| **Table Presence** | Exists in its own table. | Refers to the **Primary Key** of another table. |
| **Purpose** | Ensures unique identification of records. | Maintains referential integrity between tables. |

### **Example:**  
#### **Students Table (Primary Key: StudentID)**
```sql
CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT
);
```
#### **Courses Table (Foreign Key: StudentID)**
```sql
CREATE TABLE Courses (
    CourseID INT PRIMARY KEY,
    CourseName VARCHAR(50),
    StudentID INT,
    FOREIGN KEY (StudentID) REFERENCES Students(StudentID)
);
```

### **Conclusion:**  
- **Primary Key** uniquely identifies records within a table.  
- **Foreign Key** links two tables by referencing the Primary Key, ensuring **data integrity**.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

### **Python Code to Connect MySQL to Python**  
```python
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="yourpassword",
    database="yourdatabase"
)

cursor = conn.cursor()  # Create a cursor object
cursor.execute("SELECT * FROM Students")  # Execute a query

for row in cursor.fetchall():
    print(row)  # Fetch and print results

cursor.close()
conn.close()  # Close connection
```

### **`cursor()` and `execute()` Explanation:**  
- **`cursor()`** ‚Üí Creates a cursor object to interact with the database.  
- **`execute()`** ‚Üí Runs SQL queries like `SELECT`, `INSERT`, etc.  

This setup allows Python to communicate with MySQL efficiently. üöÄ

# Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the order in which clauses are **written** in a query is different from the order in which they are **executed**. Here‚Äôs the correct **order of execution** of SQL clauses:  

### **Order of Execution of SQL Query Clauses**  

1Ô∏è‚É£ **FROM** ‚Äì Identifies the source tables involved in the query.  
2Ô∏è‚É£ **JOIN** ‚Äì Combines data from multiple tables based on conditions.  
3Ô∏è‚É£ **WHERE** ‚Äì Filters rows based on specified conditions.  
4Ô∏è‚É£ **GROUP BY** ‚Äì Groups rows that have the same values into summary rows.  
5Ô∏è‚É£ **HAVING** ‚Äì Filters grouped data (after `GROUP BY`).  
6Ô∏è‚É£ **SELECT** ‚Äì Determines which columns or expressions appear in the result.  
7Ô∏è‚É£ **DISTINCT** ‚Äì Removes duplicate rows from the result set.  
8Ô∏è‚É£ **ORDER BY** ‚Äì Sorts the result set.  
9Ô∏è‚É£ **LIMIT / OFFSET** ‚Äì Restricts the number of rows returned.  

### **Example Query:**  
```sql
SELECT department, AVG(salary) AS avg_salary 
FROM employees
WHERE salary > 50000
GROUP BY department
HAVING AVG(salary) > 60000
ORDER BY avg_salary DESC
LIMIT 5;
```

### **Execution Order:**  
1Ô∏è‚É£ **FROM employees** ‚Äì Identify the source table.  
2Ô∏è‚É£ **WHERE salary > 50000** ‚Äì Filter rows before grouping.  
3Ô∏è‚É£ **GROUP BY department** ‚Äì Aggregate rows based on `department`.  
4Ô∏è‚É£ **HAVING AVG(salary) > 60000** ‚Äì Filter aggregated results.  
5Ô∏è‚É£ **SELECT department, AVG(salary) AS avg_salary** ‚Äì Pick required columns.  
6Ô∏è‚É£ **ORDER BY avg_salary DESC** ‚Äì Sort results in descending order.  
7Ô∏è‚É£ **LIMIT 5** ‚Äì Return only the top 5 records.  

This order is important to understand because some clauses depend on others (e.g., `HAVING` can‚Äôt be used without `GROUP BY`).  

Let me know if you need a deeper explanation on any step! üöÄ