# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
data = 4,8,15,16,23,42

In [4]:
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
df = ['apple', 'mango','banana', 'guava', 'lemon', 'lichi', 'watermelon', 'grape', 'stawberry', 'orange']
pd.Series(df)

0         apple
1         mango
2        banana
3         guava
4         lemon
5         lichi
6    watermelon
7         grape
8     stawberry
9        orange
dtype: object

# Q3. Create a Pandas DataFrame that contains the following data:

In [6]:
df2= {'Name':['Alice','Bob','Claire'],
      'Age':[25,30,27],
      'Gender':['Female','Male','Female'] }
table =pd.DataFrame(df2)
table

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


What is a DataFrame in Pandas?
A DataFrame is a 2-dimensional labeled data structure in Pandas that can store data of different types (e.g., integers, floats, strings) in columns. It is similar to a table in a database or an Excel spreadsheet.

What is a Series in Pandas?
A Series is a 1-dimensional labeled array that can hold any data type (e.g., integers, floats, strings). It can be thought of as a single column in a DataFrame

# You can create a **Pandas DataFrame** using multiple **Series** by combining them together. Each **Series** will act as a column in the DataFrame
import pandas as pd

# Create multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([23, 30, 35])
city_series = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Create a DataFrame from the Series
df0 = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'City': city_series
})

df0

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Common functions to manipulate data in a Pandas DataFrame include `head()`, `tail()`, `drop()`, `rename()`, `filter()`, `groupby()`, `merge()`, and `pivot_table()`. For example, `df.drop(columns=['Age'])` removes the "Age" column from the DataFrame.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

**DataFrame** and **Series** are mutable in nature, meaning you can modify their content after creation (e.g., adding/removing data, modifying values). 

**Panel** (which is deprecated in newer versions of Pandas) is also mutable, but it is no longer commonly used in practice. 

### **Summary:**
- **Mutable**: **Series**, **DataFrame**, **Panel**
- **Immutable**: None of the above (all can be modified after creation).

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [1]:
# You can create a **Pandas DataFrame** using multiple **Series** by combining them together. Each **Series** will act as a column in the DataFrame
import pandas as pd

# Create multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([23, 30, 35])
city_series = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Create a DataFrame from the Series
df0 = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'City': city_series
})

df0

      Name  Age         City
0    Alice   23     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago